.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.page-container {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  border: solid green;
}

.new-tweet-container {
  display: flex;
  justify-content: space-between;
}

.new-tweet-container>form {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.new-tweet-text-input {
  height: 3em;
}

.new-tweet-submit {
  display: float;
  float: right;
  width: 50px;
}

.navbar-container>nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navbar-container>nav>ul>li {
  border: solid red;
  padding: 5px;
  margin: 2px;
  background: cyan;
  flex-grow: 1;
}

.user-profile-photo {
  width: 64px;
  height: 64px;
  border-radius: 25%;
}

#user-banner {
  display: flex;
  flex-direction: row;
  border: solid black;
}

#user-banner .username {
  font-family: 'Courier New', Courier, monospace;
}

#user-banner .fullname {
  font-family: cursive;
  font-size: 24px;
}

#user-banner>.user-info {
  display: flex;
  flex-direction: column;
}

#user-banner>.user-info p {
  display: inline;
  border: solid green;
}

#tweet-template {
  display: none;
}

.tweet-view {
  border: solid pink;
  vertical-align: top;
}

.tweet-view>* {
  display: inline;
}
