
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.timeline {
    width: 100%;
    margin: auto;
    border: solid red;
}

.tweet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #32768623;
    margin: 2px;

    border: solid 2px;
    border-radius: 2px;
    border-color: #366b179c;
}

.tweet * {
    margin: 1%;
}

.tweetText {
    flex-grow: 3;
    text-align: left;
}

.new-tweet {
    display: flexbox;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 1%;
    margin-bottom: 1%;
}

.new-tweet textarea {
    width: 85%;
    height: 3em;
    flex-grow: 2;
    margin-left: 1%;
    resize: none;
    border: none;
}

.new-tweet input {
    width: 1.5em;
    height: 1.5em;
    flex-grow: 1;
    border: none;
    border-radius: 100%;
    background-color: cyan;
    position: absolute;
    transform: translate(-100%, 100%);
}

.new-tweet input:hover {
    background: blue;
}
